In [49]:
import pandas as pd
import statistics as stc
import seaborn as sns

In [50]:
df = pd.read_csv('tempo.csv', sep=';')
df.head()

  Aparencia  Temperatura  Umidade       Vento Jogar
0       sol           85     85.0       FALSO   nao
1       sol           80     90.0  VERDADEIRO   nao
2   nublado           83     86.0       FALSO   sim
3     chuva           70      NaN       FALSO   sim
4     chuva           68     80.0       FALSO   sim

In [ ]:
df.isnull().sum()

In [ ]:
grupo = df.groupby(['Aparencia']).size()
display(grupo)

print('-------------------')

df.loc[df['Aparencia'] == 'menos', 'Aparencia'] = 'sol'
grupo = df.groupby(['Aparencia']).size()
display(grupo)

In [ ]:
display(df['Temperatura'].describe())
sns.boxplot(x=df['Temperatura']);
mediana = stc.median(df['Temperatura'])

In [ ]:
df.loc[(df['Temperatura'] > 200) | (df['Temperatura'] < 0), 'Temperatura'] = mediana
df['Temperatura'].value_counts()

In [ ]:
grupo = df['Umidade'].value_counts()
print(grupo)
sns.boxplot(x=df['Umidade']);
mediana_umidade = stc.median(df['Umidade'])

In [ ]:
df.loc[df['Umidade'] > 100, 'Umidade'] = mediana_umidade
df['Umidade'].fillna(mediana_umidade, inplace=True)
print(df['Umidade'].value_counts())
print(f'Existem exatos:', df['Umidade'].isna().sum(), 'NAs')

In [ ]:
print(df['Vento'].value_counts())
print('-------------------')
print('Existem ', df['Vento'].isna().sum(), 'NAs')

In [ ]:
df['Vento'].fillna('FALSO', inplace=True)
print('Existem ', df['Vento'].isna().sum(), 'NAs')

In [74]:
df['Jogar'].value_counts()
df['Jogar'].isnull().sum()

0

In [75]:
df

   Aparencia  Temperatura  Umidade       Vento Jogar
0        sol         85.0     85.0       FALSO   nao
1        sol         80.0     90.0  VERDADEIRO   nao
2    nublado         83.0     86.0       FALSO   sim
3      chuva         70.0     85.5       FALSO   sim
4      chuva         68.0     80.0       FALSO   sim
5      chuva         65.0     70.0  VERDADEIRO   nao
6        sol         64.0     65.0  VERDADEIRO   sim
7        sol         73.5     95.0       FALSO   nao
8        sol         69.0     70.0       FALSO   sim
9      chuva         75.0     85.5       FALSO   sim
10       sol         75.0     70.0  VERDADEIRO   sim
11   nublado         72.0     90.0  VERDADEIRO   sim
12   nublado         81.0     75.0       FALSO   sim
13     chuva         71.0     91.0  VERDADEIRO   nao